<div class="row g-0">
  <div class="navbar">
    <div class="content">
      <div class="profile">
        <img src="assets/images/avatar.png" width="50" alt="" />
      </div>
      <div class="icons">
        <img src="assets/icons/home-lg.png" alt="" />
        <img src="assets/icons/eye.png" alt="" />
        <img src="assets/icons/return.png" alt="" />
      </div>
    </div>
  </div>

  <section id="content-backoffice">
    <div class="body">
      <router-outlet></router-outlet>
    </div>
  </section>
</div>
