<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-5">
    <section class="main">
      <div class="row content-logo">
        <div class="logo">
          <img src="/assets/images/Navegalogo.png" alt="Logo" width="124" />
        </div>
      </div>

      <section class="content-form">
        <section class="subcontent-data">
          <div class="title">
            <span class="text-title">Bom te ver novamente !</span><br />

            Por favor, digite sua senha para acessar o sistema de atendimento.
          </div>

          <content>
            <form class="user" [formGroup]="loginForm">
              <div class="form-group">
                <span class="p-input-icon-right">
                  <i class="pi pi-check-circle" [class.valid]="validCpf"></i>
                  <p-inputMask
                    mask="999.999.999-99"
                    formControlName="cpf"
                    placeholder="999.999.999-99"
                  ></p-inputMask>
                </span>
              </div>

              <div class="form-group">
                <p-password
                  formControlName="password"
                  [toggleMask]="true"
                ></p-password>
              </div>
            </form>
          </content>
        </section>

        <section class="subcontent-btn">
          <button
            type="submit"
            (click)="submit()"
            class="btn btn-primary btn-access"
            [disabled]="!loginForm.valid"
          >
            Acessar
          </button>

          <div class="esqueceu-senha">
            Esqueceu a senha?
            <a routerLink="/recurerar-senha">Acesse Aqui</a>
          </div>
          <span class="version"> Versão 0.01 </span>
        </section>
      </section>
    </section>
  </div>

  <div class="col-xs-0 col-sm-12 col-md-7" id="hide-on-mobile">
    <div class="image">
      <div class="text-container">
        <img src="/assets/images/backoffice.png" alt="" />
        <h5>Bem-vindo a seu novo Dashboard</h5>
      </div>
    </div>
  </div>
</div>
