@primary-color: #1aaab2;

.navigation {
  display: flex;
  align-items: center;
  font-family: sans-serif;
  margin: 17px 0 0 0px;
  cursor: pointer;
  span {
    margin-left: 8px;
  }
}

.main {
  display: flex;
  flex-direction: column;

  .graph {
    text-align: center;
    display: flex;
    flex-direction: column;

    .graph-card {
      border: none;
      width: 250px !important;
      display: block;
      margin: 0 auto;
      margin-top: 16px;
    }
  }

  .card {
    padding: 16px;

    .title {
      .pi-chevron-right {
        float: right;
        color: @primary-color;
      }
    }

    .content {
      .text {
        margin-bottom: 8px;
      }
      .btns {
        display: flex;
        justify-content: center;
      }
    }

    span {
      float: right;
    }
  }

  section {
    margin-bottom: 16px;
  }
}

.my-plan {
  display: flex;
  flex-direction: column;
  padding: 16px 16px;

  img {
    margin-bottom: 8px;
  }

  .content {
    ul {
      list-style-type: none;
      padding-left: 0rem !important;
    }

    .contract {
      display: flex;
      align-items: center;
      text-align: start;
      justify-content: space-between;
      margin: 16px 0;
      cursor: pointer;

      :hover {
        color: @primary-color;
      }

      .text {
        display: flex;
        align-items: center;

        img {
          margin-right: 8px;
        }
      }
    }
  }
}

@media screen and (max-width: 767px) {
  .main {
    max-width: 360px;
    margin: 0 auto;
  }
}

@media screen and (min-width: 768px) {
  .main {
    max-width: 752px;
    margin: 0 auto;
  }
}
